<nb-card size="xsmall">
  <nb-card-header>
    <span>Verify mail</span>
  </nb-card-header>


  <nb-card-body class="example-items-rows">
    <input type="text" #userEmail nbInput placeholder="Email address" class="w-50">

    <div>
      <button nbButton status="success" (click)="sendVerifiedEmail(userEmail.value)">Send Verified Email</button>
      <button nbButton status="warning" (click)="sendUnverifiedEmail(userEmail.value)">Send Unverified Email</button>
    </div>
  </nb-card-body>

</nb-card>
