<nb-card size="xsmall">
    <nb-card-header class="d-flex justify-content-between align-items-center">
        <span>List of Verified Emails</span>
      <button nbButton size="small" (click)="export(table)">Export </button>
    </nb-card-header>
    <nb-card-body class="p-0">
        <ng2-smart-table #table
                class="table table-hover"
                [source]="source"
                [settings]="settings"
                (custom)="show($event)"
        ></ng2-smart-table>
    </nb-card-body>

</nb-card>
